<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bvn</title>
</head>
<body>
<a th:href="@{/bvn/c1}">Tìm các giá trị chẵn trong list</a><br>
<a th:href="@{/bvn/c2}">Tìm các giá trị > 5 trong list</a><br>
<a th:href="@{/bvn/c3}">Tìm giá trị max trong list</a><br>
<a th:href="@{/bvn/c4}">Tìm giá trị min trong list</a><br>
<a th:href="@{/bvn/c5}">Tính tổng các phần tử của mảng</a><br>
<a th:href="@{/bvn/c6}">Lấy danh sách các phần tử không trùng nhau</a><br>
<a th:href="@{/bvn/c7}">Lấy 5 phần tử đầu tiên trong mảng</a><br>
<a th:href="@{/bvn/c8}">Lấy phần tử từ thứ 3 -> thứ 5</a><br>
<a th:href="@{/bvn/c9}">Lấy phần tử đầu tiên > 5</a><br>
</body>
</html>